/*
Theme Name: Libros Starter Child
Theme URI: https://libros.javired.com
Author: Javired
Author URI: https://javired.com
Description: Child theme de Libros Starter para personalizaciones de WooCommerce (checkout, etc.)
Template: libros-starter
Version: 1.0.0
Requires at least: 6.0
Tested up to: 6.7
Requires PHP: 7.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: libros-starter-child
*/